body {
    font-family: Arial;
    padding: 40px;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin-top: 10px;
}
